<h2 class="p-5">Home</h2>

<ang-pokemon-mfe-carousel-host></ang-pokemon-mfe-carousel-host>

<div class="m-6">
  <div class="shadow-8 border-1 border-blue-500 p-5" style="border-radius: 1em;">
    <div class="grid">
      <div class="col-2">
        <img src="https://raw.githubusercontent.com/jherr/fower-pokemon-vue/master/public/pokemon/blastoise.jpg" style="width: 100%" />
      </div>
      <div class="col-10">
        <h2>Blastoise is really cool</h2>
        <div>
          It crushes its foe under its heavy body to cause fainting. In a pinch, it will withdraw inside its shell.
        </div>
      </div>
    </div>
  </div>
</div>
